
:root {
    --orange: #c7aa4c;
    --pink:   #FF7481;
    --blue:  #34aabf;
  }
  
  * {
    box-sizing: border-box;
    }
    html {
    scroll-behavior: smooth;
    }
    html,body {
        position: relative;
    margin: 0;
    padding: 0;
    font: 100% $font-stack;
  
    font-weight: 400;
    }
    body.nonescroll {
        height: 100%;
        overflow: hidden;
    }
    a {
    text-decoration: none;
    display: block;
    }
    ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    }
    h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    }
    img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    }
    svg {
    max-width: 100%;
    }
    button, input, textarea {
    outline: none;
    }
    
    input {               //блокирует для браузера safary менять                           стили инпутов
    appearance: none;   
    -moz-apearance: none;
    -webkit-apearance: none;
    }
    button {
    display: inline-block;
    cursor: pointer;
    border: 0;
    padding: 0;
    background-color: transparent;
    }
    textarea {
    resize: none; //блокирует возможноть растягивать окно ввода
    }
    
    .container {
        padding: 0 15px;
        margin: 0 auto;
    
        @media(min-width: 768px) {
            max-width: 745px;
            min-width: auto;
        }
        @media(min-width:992px) {
            max-width: 900px;
        }
        @media(min-width:1200px) {
            max-width: 1140px;
            padding: 0;
        }
    }
    .btn {
      display: inline-block;
      border: 2px solid var(--pink);
      background-color: var(--pink);
      border-radius: 2px;
      font-family: Roboto;
      font-weight: 300;
      padding: 0 25px;
        
      height: 40px;
      font-size: 13px;
      line-height: 38px;
      transition: .5s;
      color: #fff;
      cursor: pointer;
     
    @media(min-width: 768px) {
        margin-top: 25px;
        font-size: 15px;
    }
    @media(min-width:1200px) {
        font-weight: 500;
        height: 70px;
        padding: 0 58px;
        font-size: 24px;
        line-height: 66px;
    }
  }
  
  .light-btn {
      border: 2px solid var(--pink);
      background-color: #252525;
      color: var(--pink);
  }

  h2 {
  font: 100% $font-montserrat;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #000;
  }

  .social__linc {
    display: flex;
    margin-top: -5px;
        a + a {
            margin-left: 10px;
    
        }
    
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            top: 0;
            left: 0;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: #4F4F4F;
            transition: .5s ;
            &:hover {
                background-color: rgb(255, 116, 129);
            }
    
            &:first-child {
                padding-top: 2px;
            }
            &:nth-child(4) {
                padding-right: 2px;
            }
        }
        
    
       svg {
           width: 16px;
       }
      .fa-viber {
        width: 20px;
      }
        .fa-vk {
        width: 20px;
       }
    
       .fa-facebook-f {
        width: 11px;
       }
    
       path {
           fill: #FFFFFF;
       }
    
    }
    .pink-line {
      &::after {
          content: "";
      position: absolute;
      width: 70px;
      height: 4.9px;
      left: 0;
      bottom: 0;
      border-radius: 2px;
      background-color: var(--pink);
  
      }
  }
  .orange-line {
      width: fit-content;
      &::after {
          content: "";
          position: absolute;
          left: 0;
          bottom: 6px;
          width: 100%;
          height: 7px;
          background-color: var(--orange);
          z-index: -1;
      }
  }
.none {
display: none;
}