.contacts {
    padding: 60px 0 20px;
    color: #333333;
    background: linear-gradient(180deg, rgba(213, 226, 251, 0.28) 0%, rgba(213, 226, 251, 0) 100%);

    @media(min-width: 768px) {
        padding: 100px 0 40px;
    }
    @media(min-width:1200px) {
        padding: 100px 0 50px;
    }
}
.contacts__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 0 auto;
    @media(min-width: 768px) {
        flex-direction: row;
        max-width: 100%;
    }
    @media(min-width:1200px) {
    
    }
}
.contacts__left {
    width: 100%;

    @media(min-width: 768px) {
        width: 50%;

    }
 
}
.contacts__left-title{
    z-index: 1;
    max-width: 320px;
    margin: 0 auto;
    margin-bottom: 15px;
    position: relative;

   
    @media(min-width: 768px) {
        max-width: 100%;
        margin-left: 0;
        margin-bottom: 25px;
       
    }
    @media(min-width:1200px) {
        margin-bottom: 42px;
    }
}
.contacts__left-subtitle {
    margin-bottom: 10px;
    h3 {
        font: $font-stack;
        font-weight: 500;
        font-size: 16px;
        line-height: 1;
    }
    @media(min-width: 768px) {
        margin-bottom: 10px;
        h3 {
            font-size: $font-sizeS-h3;
        }
        
    }
    @media(min-width: 992px) {
        margin-bottom: 15px;
        
        h3 {
            font-size: $font-sizeS-h3;
        }
    }
}
.contacts__list {
    display: inline-block;
    margin-bottom: 20px;
    a {
        display: flex;
        flex-direction: column;
        font: $font-montserrat;
        font-weight: 500;
        font-size: $font-size-PS;
        line-height: 1;
        color: var(--pink);
        transition: .2s ease-in;

        &:hover span {
            color: var(--blue);
        }
        &:active span {
            color: var(--blue);
        }
    }
    li + li {
        margin-top: 10px;

        @media(min-width: 768px) {
            margin-top: 6px;
        }
        @media(min-width:1200px) {
            margin-top: 10px;
        }
    }
    li:first-child {
        span {
            
            @media(min-width: 768px) {
                margin-left: 12px;
            }
            @media(min-width:1200px) {
            margin-left: 40px;
            }
        }
    }
    span {
        
        color: #B2B2B2;
        transition: .2s;

        @media(min-width: 768px) {
            margin-left: 30px;
        }
        @media(min-width:1200px) {
            margin-left: 62px;
        }
    } 
    @media(min-width: 768px) {
        margin-bottom: 15px;
        
       a {
        flex-direction: row;
        font-size: $font-sizeX-h3;
       }
    }
    @media(min-width: 992px) {
        margin-bottom: 28px;
        a {
            font-size: $font-size-PM;
        }
}
}
.map-holder {
    max-width: 290px;
    height: 213px;
    box-shadow: 9px -1px 34px 6px rgba(140, 178, 252, 0.19);

    @media(min-width: 768px) {
        max-width: 300px;
        height: 130px;
    }
    @media(min-width: 992px) {
        max-width: 329px;
        height: 132px;
    }
    @media(min-width:1200px) {
        height: 213px;
    }

}
.contacts__img {
    max-width: 290px;
    margin-top: 20px;

    @media(min-width: 768px) {
        max-width: unset;
        width: 50%;
        margin-top: 0;
    }
}
.contacts {
    .social__linc {
        display: flex;
        margin-top: 15px;
        @media(min-width: 768px) {
            margin-top: 15px;
        }
        @media(min-width:1200px) {
        
        }
            a + a {
                margin-left: 10px;
            }
        
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                top: 0;
                left: 0;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #fff;
                transition: .5s ;
                &:hover {
                    background-color: var(--orange);
                }
                &:hover path {
                    fill: #fff;
                }
                &:active {
                    background-color: var(--orange);
                }
                &:active path{
                    fill: #fff;
                }
                &:first-child {
                    padding-top: 2px;
                }
                &:nth-child(4) {
                    padding-right: 3px;
                    padding-top: 2px;
                    margin-left: 4px;

        
                        margin-left: 16px;
                    
                    
                }
               
            }
            
        
           svg {
               width: 25px;
           }

          .fa-viber {
            width: 30px;

          }
        
           .fa-facebook-f {
            width: 16px;

           }
        
           path {
               fill: #333;
                transition: .2s ease-in;
           }
        }

    
    }
