.header {
    position: relative;
    width: 100%;
    height: 290px;
    background-image: url(../img/bgc-img.png);
    background-size: cover;
    background-repeat: no-repeat;

    .top-nav {
        .pink-link:first-child {
            &::after {
                content: "";
                position: absolute;
                width: 108%;
                height: 5px;
                left: 0;
                top: 0;
                transform: translate(-4%, 28px);
            
                background: #FF7481;
                
            }
          }
    }

    @media(min-width: 576px) {
        height: 320px;
    }
    
    @media(min-width:992px) {
        height: 500px;

    }
    @media(min-width:1200px) {
        height: 800px;
    }
}
.ovelay {
    &::after {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        height: 291px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.75);
        z-index: 1;
    }
    @media(min-width: 576px) {
        &::after {
            content: "";
            position: absolute;
            height: 321px;
            
        }
    }
    

    @media(min-width:992px) {
        &::after {
            content: "";
            position: absolute;
            height: 501px;
            
        }
    }
    @media(min-width:1200px) {
        &::after {
            content: "";
            position: absolute;
            height: 801px;
            
        }
    }
}

.header__top {
    padding-top: 5px;
    width: 100%;
    height: 48px;
    background-color: #252525;
    position: relative;
    z-index: 1;
    .header__top-logo {
        display: none;
    }


    @media(min-width: 768px) {
        .header__top-logo {
            display: block;
            padding: 2px 7px 0px 7px;
            margin-left: 0;
            margin-right: auto;
            width: 142px;
            height: 40px;
        }
    }

    @media(min-width:1200px) {
        padding-top: 15px;
        
        .header__top-logo {
            display: none;
           
        }
    }

}
.header__top-link {
    
    display: none;
    
    @media(min-width:1200px) {
        display: flex;
    justify-content: space-between;
    }
}

.top-nav {
    display: flex;
    align-items: center;
    a {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    position: relative;
    

    }
    .pink-link + .pink-link {
        margin-left: 20px;
    }
}
.top-nav .pink-link {
    
    &::after {
        content: "";
        position: absolute;
        width: 0%;
        height: 5px;
        left: 0;
        top: 0;
        transform: translate(-4%, 28px);
        transition: .5s ease-in-out;
    }
}
.top-nav .pink-link:hover {
    &::after {
        content: "";
        position: absolute;
        width: 108%;
        height: 5px;
        left: 0;
        top: 0;
        transform: translate(-4%, 28px);
    
        background: rgba(255, 116, 129, 0.5);
    }
}
.top-nav a:active {
    &::after {
        content: "";
        position: absolute;
        background: rgb(255, 116, 129);
        transition: unset;
    } 
}

.header__center {
    width: 225px;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-80%);
    text-align: center;
    position: relative;
    z-index: 1;

    @media(min-width: 576px) {
    width: 600px;
    
    }
    
    @media(min-width: 768px) {
    transform: translateY(-50%);
    }
    @media(min-width:992px) {
        width: 100%;
    }
    @media(min-width:1200px) {
        .header__logo {
            margin-top: 30px;
            width: 500px;
        }
        img {
            width: 100%;
        }
    }

}
.header__logo {
    margin-top: 7px;
    width: 160px;
    height: 43px;
    margin: 0 auto;
    display: none;
    
    
    @media(min-width: 768px) {
        margin-top: 0;
    }
  
    @media(min-width:1200px) {
        display: block;
        width: unset;
        height: auto;
    }
}
.header__title {
font-weight: 200;
font-size: $font-sizeS-h2;
line-height: 1.2;

color: rgb(255, 255, 255);


@media(min-width: 768px) {
    font-size: $font-sizeL-h2;
   
}

@media(min-width:1200px) {
    font-size: $font-sizeL-h2XL;
    color: rgb(255, 255, 255);

}
}

.header__subtitle {
    display: none;
    margin-top: 23px;

@media(min-width: 576px) {
    margin-top: 5px;
    display: block;
    font-weight: 100;
    font-size: 15px;
    line-height: 1.5;
    color: #FFFFFF;
        
}

@media(min-width:992px) {
    font-size: 20px;
}
@media(min-width:1200px) {
    margin-top: 47px;
    font-size: 24px;
    line-height: 1.5;
    
}
}
.under__header {
    padding: 44px 0;
    background-color: #252525;
    text-align: center;
   
    
    @media(min-width: 768px) {
        padding-top: 34px;
    padding-bottom: 34px;
    text-align: start;
    }
   
    @media(min-width:1200px) {
        padding-top: 65px;
        padding-bottom: 65px;
    }
}
.under__header-wrapper {
    width: 212px;
    margin: 0 auto;


    @media(min-width: 768px) {
    display: flex;
    width: 100%;
   
    }

    .under__header-text {

        @media(min-width: 768px) {
            width: 70%;
        }
        @media(min-width:992px) {
            width: 60%;
        }
        @media(min-width:1200px) {
            width: 70%;
        }
    }

    .btn.light-btn {
        margin-top: 35px;
        z-index: 1;
        position: relative;
        background-color: unset;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: var(--pink);
            transition: .5s;
            z-index: -1;
        }
        &:hover::after {
            width: 100%;
        }
        &:hover {
            color: white;
        }
        &:active {
            color: white;
        }
        @media(min-width: 768px) {
            margin-top: 0;  
        }
    }
   
}
.under__header-title {
font: 100% $font-montserrat;
font-weight: 500;
font-size: $font-sizeS-h3;
line-height: 20px;
color: #fff;

    

    @media(min-width: 768px) {
        font-weight: 500;
        font-size: $font-sizeX-h3;
        line-height: 1;
        margin-bottom: 10px;
        
    }
    
    @media(min-width:1200px) {
        font-weight: 400;
        font-size: $font-sizeX-h2;
        line-height: 29px;
        
    }
}

.under__header-subtitle {
    margin-top: 34px;

    font-weight: 300;
    font-size: $font-size-PM;
    line-height: 16px;
    color: #fff;
    opacity: 0.7;


@media(min-width: 768px) {
    margin-top: 0;
    width: 490px;
    font-weight: 100;
    font-size: 15px;
    line-height: 20px;
    
}

@media(min-width:1200px) {
    width: 620px;
    margin-top: 11px;
font-weight: 100;
font-size: $font-size-PM;
line-height: 21px;

}
}
#nav {
   display: none;
    @media(min-width:1200px) {
    display: block;
    }  
} 