#nav {   //боковые кнопки навигации
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 5;
}
#nav li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--orange);
    transition: .5s;
}
#nav {
    li + li {
        margin-top: 20px;
    }
}
#nav li a {
    height: 100%;
    display: block;
}
#nav .current {
     background-color: var(--pink);


}