
@font-face {
	font-family: 'Montserrat Alternates';
	src: url('../fonts/MontserratAlternates-Regular.eot');
	src: local('☺'), url('../fonts/MontserratAlternates-Regular.woff') format('woff'), url('../fonts/MontserratAlternates-Regular.ttf') format('truetype'), url('../fonts/MontserratAlternates-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat Alternates';
	src: url('../ MontserratAlternates-Black.eot');
	src: local('☺'), url('../fonts/MontserratAlternates-Black.woff') format('woff'), url('../fonts/MontserratAlternates-Black.ttf') format('truetype'), url('../fonts/MontserratAlternates-Black.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Regular.eot');
	src: local('☺'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Roboto-ThinItalic';
	src: url('../fonts//Roboto-ThinItalic.eot');
	src: local('☺'), url('../fonts//Roboto-ThinItalic.woff') format('woff'), url('../fonts//Roboto-ThinItalic.ttf') format('truetype'), url('../fonts//Roboto-ThinItalic.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Light.eot');
	src: local('☺'), url('../fonts/Roboto-Light.woff') format('woff'), url('../fonts/Roboto-Light.ttf') format('truetype'), url('../fonts/Roboto-Light.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Medium.eot');
	src: local('☺'), url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf') format('truetype'), url('../fonts/Roboto-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Roboto';
	src: url('../fonts/Roboto-Thin.eot');
	src: local('☺'), url('../fonts/Roboto-Thin.woff') format('woff'), url('../fonts/Roboto-Thin.ttf') format('truetype'), url('../fonts/Roboto-Thin.svg') format('svg');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Lobster';
	src: url('../fonts/Lobster-Regular.eot');
	src: local('☺'), url('../fonts/Lobster-Regular.woff') format('woff'), url('../fonts/Lobster-Regular.ttf') format('truetype'), url('../fonts/Lobster-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

$font-stack: Roboto, sans-serif;
$font-montserrat: Montserrat Alternates, sans-serif;

$font-sizeL-h2XL: 64px;


$font-sizeL-h2: 40px;
$font-sizeM-h2: 30px;
$font-sizeS-h2: 28px;
$font-sizeX-h2: 25px;
$font-sizeXs-h2: 22px;

$font-sizeL-h3: 32px;
$font-sizeM-h3: 22px;
$font-sizeS-h3: 20px;
$font-sizeX-h3: 18px;

$font-size-PL: 24px;
$font-size-PM: 18px;
$font-size-PS: 16px;
$font-size-PX: 14px;

@import "_header.scss";
@import"_base.scss";
@import"_cards.scss";
@import"_more30.scss";
@import"_form.scss";
@import"_consultation.scss";
@import"_contacts.scss";
@import"_reviews.scss";
@import"_footer.scss";
@import"_page-nav";
@import"_toggle-menu.scss";
@import"_mob-menu.scss";
@import"_dropdown.scss";

@import"_services";
@import"_services-items";



