@charset "UTF-8";

@font-face {
  font-family: 'Montserrat Alternates';
  src: url("../fonts/MontserratAlternates-Regular.eot");
  src: local("☺"), url("../fonts/MontserratAlternates-Regular.woff") format("woff"), url("../fonts/MontserratAlternates-Regular.ttf") format("truetype"), url("../fonts/MontserratAlternates-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url("../ MontserratAlternates-Black.eot");
  src: local("☺"), url("../fonts/MontserratAlternates-Black.woff") format("woff"), url("../fonts/MontserratAlternates-Black.ttf") format("truetype"), url("../fonts/MontserratAlternates-Black.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular.eot");
  src: local("☺"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-ThinItalic';
  src: url("../fonts//Roboto-ThinItalic.eot");
  src: local("☺"), url("../fonts//Roboto-ThinItalic.woff") format("woff"), url("../fonts//Roboto-ThinItalic.ttf") format("truetype"), url("../fonts//Roboto-ThinItalic.svg") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Light.eot");
  src: local("☺"), url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.ttf") format("truetype"), url("../fonts/Roboto-Light.svg") format("svg");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium.eot");
  src: local("☺"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Thin.eot");
  src: local("☺"), url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.ttf") format("truetype"), url("../fonts/Roboto-Thin.svg") format("svg");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Lobster';
  src: url("../fonts/Lobster-Regular.eot");
  src: local("☺"), url("../fonts/Lobster-Regular.woff") format("woff"), url("../fonts/Lobster-Regular.ttf") format("truetype"), url("../fonts/Lobster-Regular.svg") format("svg");
  font-weight: 400;
  font-style: normal;
}

.header {
  position: relative;
  width: 100%;
  height: 290px;
  background-image: url(../img/bgc-img.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.ovelay::after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  height: 291px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1;
}

.header__top {
  padding-top: 5px;
  width: 100%;
  height: 48px;
  background-color: #252525;
  position: relative;
  z-index: 1;
}

.header__top .header__logo {
  display: none;
}

.header__top-link {
  display: none;
}

.header__top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__top-nav a {
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  position: relative;
}

.header__top-nav a + a {
  margin-left: 20px;
}

.header__top-nav a:first-child::after {
  content: "";
  position: absolute;
  width: 108%;
  height: 5px;
  left: 0;
  top: 0;
  -webkit-transform: translate(-4%, 28px);
      -ms-transform: translate(-4%, 28px);
          transform: translate(-4%, 28px);
  background: #FF7481;
}

.header__top-nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 5px;
  left: 0;
  top: 0;
  -webkit-transform: translate(-4%, 28px);
      -ms-transform: translate(-4%, 28px);
          transform: translate(-4%, 28px);
  -webkit-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.header__top-nav a:hover::after {
  content: "";
  position: absolute;
  width: 108%;
  height: 5px;
  left: 0;
  top: 0;
  -webkit-transform: translate(-4%, 28px);
      -ms-transform: translate(-4%, 28px);
          transform: translate(-4%, 28px);
  background: rgba(255, 116, 129, 0.5);
}

.header__top-nav a:active::after {
  content: "";
  position: absolute;
  background: #ff7481;
  -webkit-transition: unset;
  -o-transition: unset;
  transition: unset;
}

.header__center {
  width: 225px;
  margin: 0 auto;
  top: 50%;
  -webkit-transform: translateY(-80%);
      -ms-transform: translateY(-80%);
          transform: translateY(-80%);
  text-align: center;
  position: relative;
  z-index: 1;
}

.header__logo {
  margin-top: 7px;
  width: 160px;
  height: 43px;
  margin: 0 auto;
}

.header__title {
  font-weight: 200;
  font-size: 30px;
  line-height: 1.2;
  color: white;
}

.header__subtitle {
  display: none;
  margin-top: 23px;
}

.under__header {
  padding: 44px 0;
  background-color: #252525;
  text-align: center;
}

.under__header-wrapper {
  width: 212px;
  margin: 0 auto;
}

.under__header-wrapper .btn.light-btn {
  margin-top: 35px;
  position: relative;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  z-index: 1;
}

.under__header-wrapper .btn.light-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--pink);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  z-index: -1;
}

.under__header-wrapper .btn.light-btn:hover::after {
  width: 100%;
}

.under__header-wrapper .btn.light-btn:hover {
  color: white;
}

.under__header-title {
  font: 100% Montserrat Alternates, sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: #fff;
}

.under__header-subtitle {
  margin-top: 34px;
  font-weight: 300;
  font-size: 18px;
  line-height: 16px;
  color: #fff;
  opacity: 0.7;
}

#nav {
  display: none;
}

:root {
  --orange: #c7aa4c;
  --pink: #FF7481;
  --blue: #34aabf;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  font: 100% Roboto, sans-serif;
  font-weight: 400;
}

body.nonescroll {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
}

a {
  text-decoration: none;
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

svg {
  max-width: 100%;
}

button,
input,
textarea {
  outline: none;
}

input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -moz-apearance: none;
  -webkit-apearance: none;
}

button {
  display: inline-block;
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
}

textarea {
  resize: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

.btn {
  display: inline-block;
  border: 2px solid var(--pink);
  background-color: var(--pink);
  border-radius: 2px;
  font-family: Roboto;
  font-weight: 300;
  padding: 0 25px;
  height: 40px;
  font-size: 18px;
  line-height: 38px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  color: #fff;
  cursor: pointer;
}

.light-btn {
  border: 2px solid var(--pink);
  background-color: #252525;
  color: var(--pink);
}

h2 {
  font: 100% Montserrat Alternates, sans-serif;
  font-weight: 700;
  font-size: 22px;
  line-height: 1;
  color: #333;
}

.social__linc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: -5px;
}

.social__linc a + a {
  margin-left: 10px;
}

.social__linc a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4F4F4F;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.social__linc a:hover {
  background-color: #ff7481;
}

.social__linc a:first-child {
  padding-top: 2px;
}

.social__linc a:nth-child(4) {
  padding-right: 2px;
}

.social__linc svg {
  width: 16px;
}

.social__linc .fa-viber {
  width: 20px;
}

.social__linc .fa-vk {
  width: 20px;
}

.social__linc .fa-facebook-f {
  width: 11px;
}

.social__linc path {
  fill: #FFFFFF;
}

.pink-line::after {
  content: "";
  position: absolute;
  width: 70px;
  height: 4.9px;
  left: 0;
  bottom: 0;
  border-radius: 2px;
  background-color: var(--pink);
}

.orange-line {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  z-index: 1;
}

.orange-line::after {
  content: "";
  position: absolute;
  left: -2px;
  bottom: 1px;
  width: 103%;
  height: 5px;
  background-color: var(--orange);
  z-index: -1;
}

.none {
  display: none;
}

.cards {
  padding: 60px 0 60px;
}

.cards__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 280px;
  margin: 0 auto;
}

.cards__wrapper .cards__item + .cards__item {
  margin-top: 60px;
}

.cards__item {
  padding: 30px 23px 42px;
  width: 280px;
  height: 346px;
  text-align: center;
  position: relative;
  -webkit-box-shadow: 0px 2px 25px 6px #D5E2FB;
          box-shadow: 0px 2px 25px 6px #D5E2FB;
  border-radius: 8px;
  color: #333333;
}

.cards__item p {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.2;
}

.cards__item::after {
  content: "";
  position: absolute;
  width: 72.98px;
  height: 1px;
  bottom: 58px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #333333;
}

.cards__item::before {
  content: "";
  position: absolute;
  width: 55px;
  height: 1px;
  bottom: 42px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #333333;
}

.cards__item:nth-child(2) .cards__item-icn {
  background-color: var(--orange);
}

.cards__item:nth-child(3) .cards__item-icn {
  background-color: #B2B2B2;
}

.cards__item-icn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-bottom: 23px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: #FF3F02;
}

.cards__item-title {
  margin-bottom: 25px;
  font-size: 20px;
  line-height: 1;
}

.more30 {
  padding: 25px 0 35px;
}

.more30__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 280px;
  margin: 0 auto;
}

.more30__inf {
  width: 100%;
  margin-top: 85px;
}

.more30__img {
  width: 100%;
  height: 200px;
  position: relative;
}

.more30__img img {
  position: absolute;
  width: 100%;
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  z-index: -1;
}

.more30__inf-title.orange-line {
  position: relative;
  z-index: 1;
}

.more30__inf-subtitle {
  margin-bottom: 10px;
}

.more30__inf-subtitle p {
  font-family: Roboto-ThinItalic;
  font-size: 18px;
  line-height: 1.2;
  color: #000;
}

.more30__inf-subtitle span {
  font-family: 'Lobster',sans-serif;
  font-weight: 400;
  font-size: 23px;
  line-height: 1;
  color: #B2B2B2;
}

.more30__inf-text p {
  font-weight: 300;
  margin-top: 5px;
  font-size: 14px;
  line-height: 1.4;
  text-align: justify;
}

.more30__btn {
  margin-top: 20px;
}

.more30__btn .btn {
  position: relative;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  z-index: 1;
}

.more30__btn .btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: white;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  z-index: -1;
}

.more30__btn .btn:hover::after {
  width: 100%;
}

.more30__btn .btn:hover {
  color: var(--pink);
}

.btn {
  overflow: hidden;
}

.btn--animate::before {
  content: '';
  width: 15px;
  height: 200px;
  background: -o-linear-gradient(229deg, white 0%, rgba(255, 255, 255, 0.720326) 45%, rgba(255, 255, 255, 0.347777) 100%);
  background: linear-gradient(221deg, white 0%, rgba(255, 255, 255, 0.720326) 45%, rgba(255, 255, 255, 0.347777) 100%);
  position: absolute;
  left: 0;
  top: -80px;
  z-index: 2;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation-name: btnAnimate;
          animation-name: btnAnimate;
  -webkit-animation-duration: 1.9s;
          animation-duration: 1.9s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes btnAnimate {
  0% {
    left: -10px;
  }

  100% {
    left: 120%;
  }
}

@keyframes btnAnimate {
  0% {
    left: -10px;
  }

  100% {
    left: 120%;
  }
}

form.consultation__form {
  margin-top: 20px;
  width: 100%;
}

.form-item {
  width: 100%;
}

.form-item:first-child {
  margin-bottom: 11px;
}

.form-item .btn.light-btn {
  margin-top: 15px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.form-item .btn.light-btn:hover {
  background-color: var(--pink);
  color: white;
}

.form-item.message {
  width: 100%;
}

.form-field {
  padding-left: 12px;
  width: 100%;
  height: 35px;
  border: 1px solid #fff;
  border-radius: 1px;
  font: 100% Roboto, sans-serif;
  font-size: 12px;
  line-height: 1;
}

textarea.form-field {
  width: 100%;
  padding-top: 10px;
  height: 130px;
}

input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.input__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 11px;
}

label.error {
  color: red;
  font-size: 10px;
}

.consultation {
  padding: 50px 0 40px;
  background-color: #252525;
}

.consultation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 280px;
  margin: 0 auto;
}

.consultation__inf {
  width: 100%;
}

.consultation__inf-title {
  position: relative;
  margin-bottom: 25px;
}

.consultation__inf-title h2 {
  font: 100% Roboto, sans-serif;
  font-size: 25px;
  line-height: 1;
  color: #fff;
}

.consultation__inf-title.pink-line::after {
  content: "";
  width: 40px;
  height: 3px;
  position: absolute;
  bottom: -8px;
}

.consultation__inf-text p {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
  color: #BDBDBD;
  text-align: justify;
}

.consultation__inf-text p + p {
  margin-top: 25px;
}

.contacts {
  padding: 60px 0 20px;
  color: #333333;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(213, 226, 251, 0.28)), to(rgba(213, 226, 251, 0)));
  background: -o-linear-gradient(top, rgba(213, 226, 251, 0.28) 0%, rgba(213, 226, 251, 0) 100%);
  background: linear-gradient(180deg, rgba(213, 226, 251, 0.28) 0%, rgba(213, 226, 251, 0) 100%);
}

.contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 320px;
  margin: 0 auto;
}

.contacts__left {
  width: 100%;
}

.contacts__left-title {
  z-index: 1;
  max-width: 320px;
  margin: 0 auto;
  margin-bottom: 15px;
  position: relative;
}

.contacts__left-subtitle {
  margin-bottom: 10px;
}

.contacts__left-subtitle h3 {
  font: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.contacts__list {
  display: inline-block;
  margin-bottom: 20px;
}

.contacts__list a {
  font: Montserrat Alternates, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  color: var(--pink);
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in;
}

.contacts__list a:hover span {
  color: var(--blue);
}

.contacts__list li + li {
  margin-top: 10px;
}

.contacts__list li:first-child span {
  margin-left: 12px;
}

.contacts__list span {
  margin-left: 30px;
  color: #B2B2B2;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.map-holder {
  max-width: 290px;
  height: 213px;
  -webkit-box-shadow: 9px -1px 34px 6px rgba(140, 178, 252, 0.19);
          box-shadow: 9px -1px 34px 6px rgba(140, 178, 252, 0.19);
}

.contacts__img {
  max-width: 290px;
  margin-top: 20px;
}

.contacts .social__linc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.contacts .social__linc a + a {
  margin-left: 10px;
}

.contacts .social__linc a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.contacts .social__linc a:hover {
  background-color: var(--orange);
}

.contacts .social__linc a:hover path {
  fill: #fff;
}

.contacts .social__linc a:first-child {
  padding-top: 2px;
}

.contacts .social__linc a:nth-child(4) {
  padding-right: 3px;
  padding-top: 2px;
  margin-left: 4px;
  margin-left: 16px;
}

.contacts .social__linc svg {
  width: 25px;
}

.contacts .social__linc .fa-viber {
  width: 30px;
}

.contacts .social__linc .fa-facebook-f {
  width: 16px;
}

.contacts .social__linc path {
  fill: #333;
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in;
}

.reviews {
  padding: 25px 0 0;
}

.section-carousel {
  margin: 0 auto;
}

.slider {
  padding-left: 13px;
  font-family: "Roboto-ThinItalic";
  font-size: 18px;
  line-height: 1.5;
}

.slider::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 2px;
  top: 0;
  left: 0;
  background-color: #B2B2B2;
}

.reviews__title {
  margin: 0 auto;
  margin-bottom: 20px;
}

.owl-nav {
  position: relative;
  margin-top: 20px;
}

.owl-carousel .owl-nav button.owl-prev {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  left: 47%;
  background-image: url("../img/icn/arrow-left.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: none;
}

.owl-carousel .owl-nav button.owl-prev::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 2px solid var(--pink);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.owl-carousel .owl-nav button.owl-prev:hover::after {
  opacity: 0.5;
}

.owl-carousel .owl-nav button.owl-prev:active {
  opacity: 0.5;
}

.owl-carousel .owl-nav button.owl-next {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  right: 47%;
  background-image: url("../img/icn/arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: none;
}

.owl-carousel .owl-nav button.owl-next::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 2px solid var(--pink);
  -webkit-transition: 0.2s ease-in;
  -o-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.owl-carousel .owl-nav button.owl-next:hover::after {
  opacity: 0.5;
}

.owl-carousel .owl-nav button.owl-next:active {
  opacity: 0.5;
}

.clients-name {
  margin-top: 10px;
  width: 86px;
  position: relative;
  font: 100% Roboto, sans-serif;
  font-size: 14px;
  color: #333;
}

.clients-name::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  top: -3px;
  left: 93px;
  border-radius: 50%;
  border: 2px solid var(--pink);
  background-image: url(../img/icn/icon-dots.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer {
  background-color: #333;
}

.footer h3 {
  font: 100% Roboto, sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 1;
  color: #FFFFFF;
}

.footer a {
  font: 100% Roboto, sans-serif;
  font-size: 16px;
  font-weight: 200;
  color: #FFFFFF;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 35px 0 30px;
  width: 280px;
  margin: 0 auto;
}

.footer__logo {
  width: 225px;
  height: 40px;
}

.foote__left-text {
  width: 100%;
  margin-top: 5px;
}

.foote__left-text p {
  font: 100% Roboto, sans-serif;
  font-weight: 100;
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
  color: #FFFFFF;
}

.footer__left-contacts {
  margin-top: 15px;
}

.footer__left-list {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.footer__left-list li:first-child a {
  font-family: 'Lobster';
  color: var(--pink);
}

.footer__left-list li:last-child {
  margin-top: 5px;
}

.footer__left-list li:last-child a {
  position: relative;
}

.footer__left-list li:last-child a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: white;
}

.footer__left-list li a {
  font: 100% Montserrat Alternates, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: white;
}

.footer__left-list li:first-child {
  position: relative;
  margin-left: 20px;
}

.footer__left-list li:first-child:after {
  content: "";
  position: absolute;
  width: 15px;
  height: 19px;
  left: -19px;
  top: 0;
  background-image: url(../img/icn/phons__pipe.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer__left-list li:first-child::before {
  content: "";
  position: absolute;
  height: 2px;
  top: 22px;
  left: -19px;
  border-radius: 5px;
}

.footer__left-list li {
  position: relative;
  z-index: 1;
}

.footer__left-list li::before {
  content: "";
  position: absolute;
  top: 0;
  left: -8px;
  border-radius: 5px;
  height: 100%;
  width: 106%;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  z-index: -1;
}

.footer__left-list li:hover::before {
  background-color: rgba(179, 179, 179, 0.528);
}

.footer__right {
  width: 100%;
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__right li {
  font: 100% Roboto, sans-serif;
  font-weight: 200;
  font-size: 16px;
  line-height: 2;
  color: #FFFFFF;
}

.footer__links {
  width: 160px;
}

.footer__links ul {
  padding-left: 10px;
  margin-top: 20px;
}

.footer__links li + li {
  margin-top: 12px;
}

.footer__links a {
  line-height: 16px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.footer__links li {
  position: relative;
}

.footer__links li::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 10.5px;
  top: 2px;
  left: -10px;
  background-image: url(../img/icn/icn-menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer__links li:hover a {
  color: #c0bbbb;
}

.footer__links-title.small-pink-line {
  position: relative;
}

.footer__contacts {
  width: 178px;
  margin-top: 20px;
}

.footer__contacts ul {
  margin-top: 10px;
}

.footer__contacts li + li {
  margin-top: 15px;
}

.footer__contacts a {
  line-height: 1;
}

.footer__contacts span {
  font-size: 14px;
  line-height: 21px;
  font: 100% Montserrat Alternates, sans-serif;
  color: var(--pink);
}

.footer__copy {
  padding: 20px;
  background-color: #252525;
}

.footer__copy p {
  font: 100% Roboto, sans-serif;
  text-align: center;
  font-weight: 100;
  font-size: 12px;
  line-height: 19px;
  color: #FFFFFF;
}

.small-pink-line::after {
  content: "";
  position: absolute;
  width: 35px;
  height: 2px;
  left: 1px;
  bottom: -8px;
  border-radius: 2px;
  background-color: var(--pink);
}

.footer__contacts-title.small-pink-line {
  position: relative;
}

.footer__times-title.small-pink-line {
  position: relative;
}

.footer__times {
  width: 190px;
  margin-top: 20px;
}

.footer__times ul {
  margin-top: 10px;
}

.footer__times ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__times span {
  margin-left: auto;
}

#nav {
  position: fixed;
  right: 0;
  top: 50%;
  z-index: 5;
}

#nav li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--orange);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

#nav li + li {
  margin-top: 20px;
}

#nav li a {
  height: 100%;
  display: block;
}

#nav .current {
  background-color: var(--pink);
}

.toggle-menu {
  width: 50px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 17px;
  top: 8px;
  z-index: 9;
}

.toggle-menu span {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 3px;
  background-color: #fff;
}

.toggle-menu span:before,
.toggle-menu span:after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: #fff;
  position: absolute;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.toggle-menu span:before {
  top: -10px;
}

.toggle-menu span:after {
  bottom: -10px;
}

.toggle-menu.active span {
  background-color: transparent;
}

.toggle-menu.active span:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 0;
  background-color: #000;
}

.toggle-menu.active span:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 0;
  background-color: #000;
}

.mobile-menu {
  padding-top: 3px;
  width: 330px;
  height: 100%;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  z-index: 3;
  -webkit-transition: 0.8s ease-in;
  -o-transition: 0.8s ease-in;
  transition: 0.8s ease-in;
}

.mobile-menu .mobile__link {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #000;
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in;
}

.mobile-menu .mobile__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -2px;
  background-color: #000;
  -webkit-transition: .2s ease-in;
  -o-transition: .2s ease-in;
  transition: .2s ease-in;
}

.mobile-menu .mobile__link:hover::after {
  background-color: var(--orange);
}

.mobile-menu .mobile__link:hover {
  color: var(--orange);
}

.mobile-menu .mobile__link + .mobile__link {
  margin-top: 20px;
}

.mobile-menu__wrapper {
  padding-left: 20px;
}

.mobile-menu__logo {
  position: relative;
  font-family: 'Lobster';
  font-size: 35px;
  color: #333;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 13px;
  z-index: 1;
}

.mobile-menu__logo::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 11px;
  bottom: 4px;
  left: 0;
  background-color: var(--pink);
  z-index: -1;
  -webkit-transition: .3s ease-in;
  -o-transition: .3s ease-in;
  transition: .3s ease-in;
}

.mobile-menu__logo:hover::after {
  background-color: var(--orange);
}

.mobile__last-link {
  position: relative;
  margin-top: 20px;
  color: var(--orange);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.mobile__last-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0;
  bottom: -3px;
  background-color: var(--orange);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.mobile__last-link:hover::after {
  background-color: #34aabf;
}

.mobile__last-link:hover {
  color: #34aabf;
}

.social__link {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__link a + a {
  margin-left: 10px;
}

.social__link a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 0;
  left: 0;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--pink);
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.social__link a:first-child {
  padding-top: 2px;
  background-color: #34aabf;
}

.social__link a:nth-child(2) {
  background-color: #374682;
}

.social__link a:nth-child(4) {
  padding-right: 2px;
  background-color: #00d9ff;
}

.social__link a:hover {
  background-color: var(--orange);
}

.social__link svg {
  width: 16px;
}

.social__link .fa-viber {
  width: 20px;
}

.social__link .fa-vk {
  width: 20px;
}

.social__link .fa-facebook-f {
  width: 11px;
}

.social__link path {
  fill: #FFFFFF;
}

.active-menu {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.mobile-overlay.active {
  background-color: rgba(128, 128, 128, 0.796);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  -webkit-transition: .8s ease-in;
  -o-transition: .8s ease-in;
  transition: .8s ease-in;
}

@media (min-width: 576px) {
  .header {
    height: 320px;
  }

  .ovelay::after {
    content: "";
    position: absolute;
    height: 321px;
  }

  .header__top .header__logo {
    display: block;
    padding: 2px 7px 0px 7px;
    margin-left: 0;
    margin-right: auto;
    width: 142px;
    height: 40px;
  }

  .header__center {
    width: 600px;
  }

  .header__logo {
    display: none;
  }

  .header__subtitle {
    margin-top: 5px;
    display: block;
    font-weight: 100;
    font-size: 15px;
    line-height: 1.5;
    color: #FFFFFF;
  }
}

@media (min-width: 768px) {
  .header__center {
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }

  .header__logo {
    margin-top: 0;
  }

  .header__title {
    font-size: 40px;
  }

  .under__header {
    padding-top: 34px;
    padding-bottom: 34px;
    text-align: start;
  }

  .under__header-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }

  .under__header-wrapper .under__header-text {
    width: 70%;
  }

  .under__header-wrapper .btn.light-btn {
    margin-top: 0;
  }

  .under__header-title {
    font-weight: 500;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 10px;
  }

  .under__header-subtitle {
    margin-top: 0;
    width: 449px;
    font-weight: 100;
    font-size: 16px;
    line-height: 20px;
  }

  .container {
    max-width: 745px;
    min-width: auto;
  }

  .btn {
    margin-top: 25px;
    font-size: 16px;
  }

  h2 {
    font-size: 25px;
  }

  .orange-line::after {
    content: "";
    position: absolute;
    bottom: 1px;
  }

  .cards {
    padding: 94px 0 100px;
  }

  .cards__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 691px;
  }

  .cards__wrapper .cards__item + .cards__item {
    margin-top: 0;
    margin-left: 15px;
  }

  .cards__item {
    padding: 20px 17px 30px;
    width: 222px;
    height: 294px;
  }

  .cards__item::after {
    content: "";
    position: absolute;
    width: 51px;
    height: 0.5px;
    bottom: 43px;
  }

  .cards__item::before {
    content: "";
    position: absolute;
    width: 38px;
    height: 0.5px;
    bottom: 29px;
  }

  .cards__item-icn {
    padding: 5px;
    margin-bottom: 16px;
    width: 25px;
    height: 25px;
  }

  .cards__item-title {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .more30__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 100%;
  }

  .more30__inf {
    width: 50%;
    margin-top: 0;
  }

  .more30__img {
    width: 50%;
    height: auto;
  }

  .more30__img img {
    top: 22px;
    right: 25px;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }

  .more30__inf-title.orange-line {
    margin-bottom: 3px;
  }

  .more30__inf-subtitle {
    margin-bottom: 7px;
  }

  .more30__inf-text p {
    margin-top: 0;
    line-height: 1.5;
  }

  .more30__btn {
    margin-top: 0;
  }

  form.consultation__form {
    margin-top: 0;
    width: 50%;
  }

  .form-item:first-child {
    margin-bottom: 0;
  }

  .form-item .btn.light-btn {
    margin-top: 25px;
  }

  .form-field {
    height: 40px;
  }

  .input__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 15px;
  }

  .input__wrapper .form-item:first-child {
    margin-right: 15px;
  }

  .consultation__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 100%;
  }

  .consultation__inf {
    width: 50%;
  }

  .consultation__inf-title h2 {
    font-size: 28px;
  }

  .consultation__inf-title.pink-line::after {
    content: "";
    width: 43px;
    position: absolute;
    bottom: -8px;
  }

  .consultation__inf-text {
    width: 280px;
  }

  .contacts {
    padding: 100px 0 40px;
  }

  .contacts__wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: 100%;
  }

  .contacts__left {
    width: 50%;
  }

  .contacts__left-title {
    max-width: 100%;
    margin-left: 0;
    margin-bottom: 25px;
  }

  .contacts__left-subtitle {
    margin-bottom: 10px;
  }

  .contacts__left-subtitle h3 {
    font-size: 20px;
  }

  .contacts__list li + li {
    margin-top: 6px;
  }

  .contacts__list {
    margin-bottom: 15px;
  }

  .contacts__list a {
    font-size: 18px;
  }

  .map-holder {
    max-width: 300px;
    height: 130px;
  }

  .contacts__img {
    max-width: unset;
    width: 50%;
    margin-top: 0;
  }

  .contacts .social__linc {
    margin-top: 15px;
  }

  .reviews__title {
    margin-bottom: 16px;
  }

  .footer a {
    font-size: 16px;
  }

  .footer__wrapper {
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: unset;
  }

  .foote__left-text {
    display: none;
  }

  .foote__left-text p {
    line-height: 1.5;
    font-size: 9px;
  }

  .footer__left-contacts {
    margin-top: 20px;
  }

  .footer__left-list li:last-child a {
    margin-top: 10px;
  }

  .footer__left-list li a {
    font-size: 16px;
  }

  .footer__left-list li:first-child:after {
    width: 12px;
    height: 15px;
    top: -3px;
  }

  .footer__right {
    width: 420px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 0;
  }

  .footer__contacts {
    width: 228px;
    margin-top: 0;
  }

  .footer__times {
    display: none;
  }
}

@media (min-width: 992px) {
  .header {
    height: 500px;
  }

  .ovelay::after {
    content: "";
    position: absolute;
    height: 501px;
  }

  .header__center {
    width: 100%;
  }

  .header__subtitle {
    font-size: 20px;
  }

  .container {
    max-width: 900px;
  }

  .cards__wrapper {
    max-width: 900px;
  }

  .cards__item {
    padding: 30px 23px 42px;
    width: 280px;
    height: 346px;
  }

  .cards__item::before {
    content: "";
    position: absolute;
    width: 55px;
    height: 1px;
    bottom: 42px;
  }

  .cards__item::after {
    content: "";
    position: absolute;
    width: 72.98px;
    height: 1px;
    bottom: 58px;
  }

  .cards__item-icn {
    padding: 0;
    margin-bottom: 23px;
    width: 35px;
    height: 35px;
  }

  .more30__img {
    top: -19px;
    right: 25px;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .consultation__inf-text {
    width: 340px;
  }

  .contacts__left-subtitle {
    margin-bottom: 15px;
  }

  .contacts__left-subtitle h3 {
    font-size: 20px;
  }

  .contacts__list {
    margin-bottom: 28px;
  }

  .contacts__list a {
    font-size: 18px;
  }

  .map-holder {
    max-width: 329px;
    height: 132px;
  }

  .footer__right {
    width: 600px;
  }

  .footer__times {
    display: block;
    margin-top: 0;
  }
}

@media (min-width: 1200px) {
  .header {
    height: 800px;
  }

  .ovelay::after {
    content: "";
    position: absolute;
    height: 801px;
  }

  .header__top {
    padding-top: 15px;
  }

  .header__top .header__logo {
    display: none;
  }

  .header__top-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header__logo {
    display: block;
    width: unset;
    height: auto;
  }

  .header__title {
    font-size: 64px;
    color: white;
  }

  .header__subtitle {
    margin-top: 47px;
    font-size: 24px;
    line-height: 1.5;
  }

  .under__header {
    padding-top: 65px;
    padding-bottom: 65px;
  }

  .under__header-title {
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
  }

  .under__header-subtitle {
    width: 620px;
    margin-top: 11px;
    font-weight: 100;
    font-size: 18px;
    line-height: 21px;
  }

  #nav {
    display: block;
  }

  .container {
    max-width: 1140px;
    padding: 0;
  }

  .btn {
    font-weight: 500;
    height: 70px;
    padding: 0 58px;
    font-size: 24px;
    line-height: 66px;
  }

  h2 {
    font-size: 40px;
    line-height: 1;
  }

  .orange-line::after {
    content: "";
    position: absolute;
    bottom: 2px;
    height: 7px;
  }

  .cards {
    padding: 80px 0 80px;
  }

  .cards__wrapper {
    max-width: 1118px;
  }

  .cards__wrapper .cards__item + .cards__item {
    margin-left: 81px;
  }

  .cards__item {
    padding: 33px 26px 47px;
    width: 316px;
    height: 390px;
  }

  .cards__item p {
    font-size: 18px;
    line-height: 1.5;
  }

  .cards__item::after {
    content: "";
    position: absolute;
    width: 82px;
    height: 1px;
    bottom: 65px;
  }

  .cards__item::before {
    content: "";
    position: absolute;
    width: 62px;
    height: 1px;
    bottom: 48px;
  }

  .cards__item-icn {
    margin-bottom: 26px;
    width: 40px;
    height: 40px;
  }

  .cards__item-title {
    margin-bottom: 20px;
    font-size: 22px;
  }

  .more30 {
    margin-top: 0;
    padding-bottom: 165px;
    padding-top: 50px;
  }

  .more30__img img {
    top: 0;
    left: 0;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }

  .more30__inf-title.orange-line {
    margin-bottom: 0;
  }

  .more30__inf-subtitle {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .more30__inf-subtitle span {
    font-size: 30px;
  }

  .more30__inf-text p {
    font-size: 18px;
  }

  form.consultation__form {
    max-width: 584px;
  }

  .form-item {
    font-size: 18px;
  }

  .form-item .btn.light-btn {
    margin-top: 25px;
  }

  .form-field {
    padding-left: 15px;
    height: 50px;
    font-size: 16px;
  }

  .input__wrapper {
    margin-bottom: 25px;
  }

  .input__wrapper .form-item:first-child {
    margin-right: 25px;
  }

  .consultation {
    padding: 50px 0 73px;
  }

  .consultation__inf-title h2 {
    font-size: 40px;
  }

  .consultation__inf-title.pink-line::after {
    content: "";
    width: 70px;
    position: absolute;
    bottom: -8px;
  }

  .consultation__inf-text {
    width: 400px;
  }

  .consultation__inf-text p {
    font-size: 18px;
  }

  .contacts {
    padding: 100px 0 50px;
  }

  .contacts__left-title {
    margin-bottom: 42px;
  }

  .contacts__list li + li {
    margin-top: 10px;
  }

  .contacts__list li:first-child span {
    margin-left: 40px;
  }

  .contacts__list span {
    margin-left: 62px;
  }

  .map-holder {
    height: 213px;
  }

  .reviews {
    padding: 50px 0 100px;
  }

  .slider {
    line-height: 2;
  }

  .reviews__title {
    margin-bottom: 40px;
  }

  .owl-carousel .owl-nav button.owl-prev {
    display: block;
  }

  .owl-carousel .owl-nav button.owl-next {
    display: block;
  }

  .clients-name {
    font-size: 15px;
    width: 117px;
  }

  .clients-name::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 122px;
  }

  .footer__wrapper {
    padding: 65px 0 85px;
  }

  .foote__left-text {
    display: block;
    width: 434px;
  }

  .foote__left-text p {
    font-size: 16px;
  }

  .footer__left-contacts {
    margin-top: 31px;
  }

  .footer__left-list li:last-child a {
    margin-top: 5px;
  }

  .footer__left-list li a {
    font-size: 18px;
  }

  .footer__left-list li:first-child:after {
    width: 15px;
    height: 19px;
    top: 0;
  }

  .footer__right {
    width: 635px;
  }

  .footer__links ul {
    padding-left: 10px;
    margin-top: 21px;
  }

  .footer__links li + li {
    margin-top: 15px;
  }

  .footer__contacts ul {
    margin-top: 16px;
  }

  .footer__times {
    width: 190px;
    margin-top: 0;
  }

  .footer__times ul {
    margin-top: 16px;
  }

  .toggle-menu {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
}

.webp .header{ background-image: url(../img/bgc-img.webp); }