.cards {
    padding: 60px 0 60px;
    
    @media(min-width: 768px) {
        padding: 94px 0 100px;
    }
    @media(min-width:1200px) {
        padding: 80px 0 80px;
    }
}


.cards__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 280px;
    margin: 0 auto;

@media(min-width: 768px) {
    flex-direction: row;
    max-width: 691px;

}
@media(min-width:992px) {
    max-width: 900px;
}
@media(min-width:1200px) {
    max-width: 1118px;
}
 .cards__item + .cards__item {
     
        margin-top: 60px;
     @media(min-width: 576px) {
            
    }
    
    @media(min-width: 768px) {
        margin-top: 0;
         margin-left: 51px;
    }

    @media(min-width:1200px) {
        margin-left: 81px;
    }
 }
}


.cards__item {

    padding: 30px 23px 42px;
    width: 280px;
    height: 346px;
    text-align: center;
    position: relative;
    box-shadow: 0px 2px 25px 6px #D5E2FB;
    border-radius: 8px;
    color: #333333;
    
    @media(min-width: 768px) {
        padding: 20px 17px 30px;
        width: 196px;
        height: 242px;
    }
    @media(min-width:992px) {
        padding: 30px 23px 42px;
        width: 280px;
        height: 346px;
    }
  
    @media(min-width:1200px) {
        padding: 33px 26px 47px;
        width: 316px;
        height: 390px;
    }
    p {
        font-weight: 300;
        
        font-size: 15px;
        line-height: 1.2;

        @media(min-width: 768px) {
            font-size: 11px;
    
        }
        @media(min-width:992px) {
            font-size: 15px;

        }
        @media(min-width:1200px) {
            font-size: 18px;
            line-height: 1.5;
        }
    }

        
    &::after {
        content: "";
        position: absolute;
        width: 72.98px;
        height: 1px;
        bottom: 58px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #333333;
    }
    &::before {
        content: "";
        position: absolute;
        width: 55px;
        height: 1px;
        bottom: 42px;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #333333;
    }

    &:nth-child(2) {
        .cards__item-icn {
            background-color: var(--orange);
        }
    }
    &:nth-child(3) {
        .cards__item-icn {
            background-color: #B2B2B2;
        }
    }
    
    @media(min-width: 768px) {
        &::after {
            content: "";
            position: absolute;
            width: 51px;
            height: 0.5px;
            bottom: 43px;
        }

        &::before {
            content: "";
            position: absolute;
            width: 38px;
            height: 0.5px;
            bottom: 29px;
        }
    }
    @media(min-width:992px) {
        &::before {
            content: "";
            position: absolute;
            width: 55px;
            height: 1px;
            bottom: 42px;
        }

        &::after {
            content: "";
            position: absolute;
            width: 72.98px;
            height: 1px;
            bottom: 58px;
        }
    }
    @media(min-width:1200px) {
        &::after {
            content: "";
            position: absolute;
            width: 82px;
            height: 1px;
            bottom: 65px;
        }
        &::before {
            content: "";
            position: absolute;
            width: 62px;
            height: 1px;
            bottom: 48px;
        }
    }
  
}
.cards__item-icn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 23px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #FF3F02;
  
    @media(min-width: 768px) {
    padding: 5px;
    margin-bottom: 16px;
    width: 25px;
    height: 25px;
    }
    @media(min-width:992px) {
        padding: 0;
        margin-bottom: 23px;
        width: 35px;
        height: 35px;
    }
    @media(min-width:1200px) {
        margin-bottom: 26px;
        width: 40px;
        height: 40px;
    }

}
.cards__item-title {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 1;

    @media(min-width: 768px) {
    margin-bottom: 20px;
    font-size: 14px;
    }
    @media(min-width:992px) {
        margin-bottom: 25px;
        font-size: 20px;
    }
    @media(min-width:1200px) {
    margin-bottom: 20px;
    font-size: 24px;
    }
}
